<%- include ('partials/header.ejs') %> 
<%- include ('partials/navbar.ejs') %> 



    <!-- != operador NOT: veirifca se o valor é falso -->
    <% if(!produto){ %>  <!--Se eu nao informar o produto, eu mostro a lista declarada no array-->
        <% produtos.forEach(produto => { %>
        <p><a href="/produtos/<%= produto %>"><%= produto %></a></p>
        <%}) %>
   <% } else { %>
        <p><%= produto %></p>
    <% } %> 

    <hr>
    <p>Faça seu pedido agora!</p>
    <%- include ('partials/footer.ejs') %> 
